* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-image: linear-gradient(90deg, #1abc9c, #13efc3);
  display: grid;
  width: 100%;
  justify-items: center;
}

.container {
  display: grid;
  place-items: center;
  margin-top: 2rem;
  width: 100%;
  background-image: linear-gradient(90deg, #45b39d, #16a085);
  border-radius: 3%;
  padding: 1.5rem 6rem;
  filter: drop-shadow(1px 1px 1px 5px #036655);
  transition: all 0.1s ease-in-out;

  &:hover {
    filter: drop-shadow(1px 1px 1px 8px #dee7e6);
  }

  > h2 {
    margin: 1rem 0;
    font-size: 2.8rem;
  }

  > form {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 1rem 0;

    > .input {
      width: 100%;
      padding: 0.5rem;
      border: none;
      margin-bottom: 1rem;
      border-radius: 50px;
      font-size: 1.2rem;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #0e6655;
      }
    }
    > button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 50px;
      background-color: #0e6655;
      color: #fff;
      font-size: 1.2rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #0e6655;
        box-shadow: 0px 0px 3px 1px #0e6655;
      }
    }
  }
  > .todo-list {
    margin-top: 1rem;
    width: 100%;
    overflow: auto;
    max-height: 15rem;
    padding: 0.5rem;

    > .todo-item {
      margin: 1rem 0rem;
      display: flex;
      justify-content: space-between;

      > * {
        margin: 0.5rem;
      }

      .checkbox {
        display: inline-block;
        width: 25%;
        padding: 0.3rem 1rem;
        border-radius: 50px;
        background-color: #fff;
        color: #000;
        font-size: 1.1rem;
        transition: all 0.3s ease-in;
        border: none;
        cursor: pointer;
        filter: drop-shadow(1px 1px 5px #0e6655);

        &:hover {
          filter: drop-shadow(1px 1px 8px #0e6655);
        }
      }

      > .todo-text {
        display: inline-block;
        width: 100%;
        padding: 0.3rem 1rem;
        border-radius: 50px;
        border: none;
        background-color: #fff;
        color: #000;
        margin-right: 0.5rem;
        font-size: 1.1rem;
        transition: all 0.3s ease-in-out;
        filter: drop-shadow(1px 1px 5px #0e6655);

        &:hover {
          filter: drop-shadow(1px 1px 8px #0e6655);
        }
      }
      .edit-item,
      .delete-item {
        display: inline-block;
        width: 25%;
        padding: 0.3rem 1rem;
        border-radius: 50px;
        background-color: #f1c40f;
        color: #000;
        font-size: 0.8rem;
        transition: all 0.3s ease-in-out;
        border: none;
        cursor: pointer;
        filter: drop-shadow(1px 1px 5px #0e6655);

        &:hover {
          filter: drop-shadow(1px 1px 8px #0e6655);
        }
      }
      .delete-item {
        background-color: #e74c3c;
      }
    }
  }
  .search {
    width: 80%;
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 50px;
    margin-bottom: 0.9rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      outline: none;
      filter: drop-shadow(0px 0px 2px #0e6655);
    }
  }
}

.completed {
  text-decoration: line-through;
  color: #e74c3c;
}
.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #0b5345;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #73c6b6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b1bcba;
}

@media screen and (max-width: 720px) {
  .container {
    padding: 1.5rem 1rem;
    width: 85%;
    margin: 3rem auto;
  }
  h1 {
    font-size: 2.2rem;
  }
  form > .input {
    font-size: 1rem;
  }
  form button {
    font-size: 1rem;
  }
  .todo-list {
    max-height: 10rem;
    min-width: 100%;

    .todo-item {
      .checkbox,
      .todo-text {
        font-size: 0.9rem;
      }
      .edit-item,
      .delete-item {
        font-size: 0.7rem;
      }
    }
  }
  .search {
    width: 100%;
    font-size: 1rem;
  }
}
